* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** google fonts name is - inter  */



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}


/* !common css style  */
.width-1-2k {
  max-width: 1200px;

}

/* linear text -color  */
.linear-text {
  color: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);

}


/* linear background-color  */
.linear-boss {
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  /* display: inline-block; */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

 /* hidden bar  */
 .hidden{
  display: none;
 }






/*? nav-bar is style start  */
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #412567;
}

.nav-heading {
  font-size: clamp(1.75rem, 3vw, 2.25rem);
  font-weight: 600;
  color: #ffffff;
}

.ul-container {
  display: flex;
  gap: 32px;
}

.li-items {
  font-size: clamp(0.875rem, 1vw, 1rem);
  font-weight: 500;
  color: #ffffff;
  list-style: none;
}

.li-items a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
/* *nav-btn  */
.first-btn{
    background: linear-gradient(45deg,#F7E93F 0%,#FB09B4 54%,#9100F8 100%);
    padding: 12px 16px;
    border-radius: 100000px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    margin: 24px 0;
    border: none;
    cursor:pointer;
  
}
.first-btn:hover{
  background: linear-gradient(45deg, #9100F8 10%,#FB09B4 54%,#F7E93F 100%); 
  

}