* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** google fonts name is - inter  */



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}


/* !common css style  */
.container{
  display: 100%;
  max-width: 75rem;
  margin:0 auto;
  padding-inline: clamp(1rem, 4vw, 2rem);
}
.display-flex{
  display: flex;
}
.width-1-2k {
  max-width: 1200px;

}

/* linear text -color  */
.linear-text {
  color: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);

}


/* linear background-color  */
.linear-boss {
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  /* display: inline-block; */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}



 /* hidden bar  */
 .hidden{
  display: none;
 }






/*? nav-bar is style start  */
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1A0B2E;
}

.nav-heading {
  font-size: clamp(1.75rem, 3vw, 2.25rem);
  font-weight: 600;
  color: #ffffff;
}

.ul-container {
  display: flex;
  gap: 32px;
}

.li-items {
  font-size: clamp(0.875rem, 1vw, 1rem);
  font-weight: 500;
  color: #ffffff;
  list-style: none;
}

.li-items a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
/* *nav-btn  */
.first-btn{
    background: linear-gradient(45deg,#F7E93F 0%,#FB09B4 54%,#9100F8 100%);
    padding: 12px 16px;
    border-radius: 100000px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    margin: 24px 0;
    border: none;
    cursor:pointer;
  
}
.first-btn:hover{
  background: linear-gradient(45deg, #9100F8 10%,#FB09B4 54%,#F7E93F 100%); 
}
/*? nav-bar style is end  */


/* TODO:   banner section is start now */
#banner-section{
  max-width: 1400px;
    background-image: url("./B13-A02-TechWave/assets/hero-bg.png");
    background-repeat: repeat;
    background-size: cover;
    width:100%;
    height:auto;
   
}
.banner-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: clamp(3rem, 6vw, 5.9375rem);
   
}

.banner-image{
   width: clamp(16rem, 35vw, 21.875rem);
   display: flex;
   align-items: center;
   justify-content: center;
  position: relative;
}
.heroCircle-img{
  width:90%;
  height:auto;
  display:block;
  z-index: 1;


}
.microphone-img{
   width: clamp(4.5rem, 10vw, 7.25rem);
   width:25%;
   height: auto;
   position: absolute;
   z-index: 2;
}
.banner-badge{
    background-color: #00ff88;
    font-size:1rem;
    padding:0.5rem 1rem;
    border: none;
    border-radius: 46px;
    font-weight: 600;
    position: absolute;
    z-index: 3;
    top: 27%;
    left: 54%;
   
}


.heroCircle-img:hover{
   border: 5px solid white;
    border-radius: 50%;
}

.banner-content {
  display: flex;
  justify-content: center;
  margin-top:2rem;

}
.div{
  justify-content: center;
}

.banner-head{
 margin-top:-2.7rem;
  font-size: 3.75rem;
  font-weight: 800;
  color:#ffffff;
  text-align: center;

}
.banner-p{
 font-size: 1rem;
  font-weight: 400;
  color:#ffffff;
  opacity: 80%;
  text-align: center;
}
.end-btn{
gap:8px;
align-items: center;
justify-content: center;
text-align: center;

  
}
.end-1{
 display: flex;
justify-content: center;
align-items: center;
gap:8px;
cursor: pointer;

}
.im-1{
  align-items: center;
  
}

.end-2{
  display: flex;
  border: 1px solid #00FF88;
  /* background: linear-gradient(45deg,#F7E93F 0%,#FB09B4 54%,#9100F8 100%); */
    background-color: #1A0B2E;
    padding: 12px 16px;
    border-radius: 100000px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 700;
    margin: 24px 0;
    cursor:pointer;
    gap:8px;
   
}
.im-2{
  align-items: center;
 width:100%;
}
.end-2:hover{
  background: linear-gradient(50deg, #00FF88 10%,#FB09B4 60%,#1A0B2E 100%);
  transform: scale(1.1);
  transition: background 6s ,3s;
}